<div class="container">
	
	<nav class="navbar navbar-expand-sm  bg-warning">
        <a class="navbar-brand" href="#">NG Form Examples </a>
        
        <div class=" navbar-nav ml-auto" id="navbarSupportedContent">

            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Forms
                </button>

                <div class="dropdown-menu">
               
                    <a routerLink="/basic-form-validators" routerLinkActive="active" type="button" class="dropdown-item">Basic Form w/ Validators  </a>
                    <a routerLink="/conditional-form" routerLinkActive="active" type="button" class="dropdown-item">Conditional Form  </a>
                    <a routerLink="/conditional-validation" routerLinkActive="active" type="button" class="dropdown-item">Conditional Validation  </a>

                    <a routerLink="/multi-step-form" routerLinkActive="active" type="button" class="dropdown-item">Multi Step Form  </a>
                    <a routerLink="/step-by-step-form2" routerLinkActive="active" type="button" class="dropdown-item">Step by Step Form v2  </a>

                    <!-- {path:'basic-form-validators', component: BasicFormValidatorsComponent},
                    // {path:'multi-step-form', component: MultiStepFormHolderComponent},
                    {path:'conditional-form', component: ConditionalFormFieldsComponent},
                    {path:'conditional-validation', component: ConditionalFormValidatorsComponent} -->

                </div>
            </div><!-- END .btn-group -->
        </div>

    </nav>
</div>

